<center>
<img src="../../img/ods_stickers.jpg" />
    
## [mlcourse.ai](mlcourse.ai) â€“ Open Machine Learning Course 
Author: Arina Lopukhova (@erynn). Edited by [Yury Kashnitskiy](https://yorko.github.io) (@yorko). This material is subject to the terms and conditions of the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license. Free use is permitted for any non-commercial purpose.

<h1><center>Assignment #1. Fall 2018</center></h1>
<h2><center>Exploratory data analysis of Olympic games with Pandas</center></h2>

__There are ten questions about [120 years of Olympic history: athletes and results](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results/version/2) dataset in this task. Your task is to fill in the missing Python code and choose answers in [this web-form](https://docs.google.com/forms/d/179HYvlF_0x435CWdu2aOtR9a3flh0YCQXXNXhXaKw2M).__

Download the file `athlete_events.csv` from [Kaggle page](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results). The dataset has the following features (copied from Kaggle):

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [1]:
import pandas as pd

In [2]:
# Change the path to the dataset file if needed. 
PATH = '../../data/athlete_events.csv'

In [3]:
data = pd.read_csv(PATH)
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

__1. How old were the youngest male and female participants of the 1996 Olympics?__

- 16 and 15
- 14 and 12 
- 16 and 12
- 13 and 11

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
ID        271116 non-null int64
Name      271116 non-null object
Sex       271116 non-null object
Age       261642 non-null float64
Height    210945 non-null float64
Weight    208241 non-null float64
Team      271116 non-null object
NOC       271116 non-null object
Games     271116 non-null object
Year      271116 non-null int64
Season    271116 non-null object
City      271116 non-null object
Sport     271116 non-null object
Event     271116 non-null object
Medal     39783 non-null object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

In [27]:
# You code here 
print(data[(data['Year'] == 1996) & (data['Sex'] == 'M')]['Age'].min())
print(data[(data['Year'] == 1996) & (data['Sex'] == 'F')]['Age'].min())

14.0
12.0

__2. What was the percentage of male gymnasts among all the male participants of the 2000 Olympics? Round the answer to the first decimal.__

*Hint:* here and further if needed drop duplicated sportsmen to count only unique ones. 

- 0.2
- 1.5 
- 2.5
- 7.7

In [32]:
# You code here 
gymnasts = data[(data['Sport'] == 'Gymnastics') & (data['Year'] == 2000) & (data['Sex'] == 'M')]['Name'].nunique()
all_male = data[(data['Year'] == 2000) & (data['Sex'] == 'M')]['Name'].nunique()
percent = (gymnasts / all_male) * 100
print(percent)

1.4750608272506083

__3. What are the mean and standard deviation of height for female basketball players participated in the 2000 Olympics? Round the answer to the first decimal.__

- 178.5 and 7.2
- 179.4 and 10
- 180.7 and 6.7
- 182.4 and 9.1

In [41]:
# You code here 
data[(data['Sport'] == 'Basketball') & (data['Year'] == 2000) & (data['Sex'] == 'F')]['Height'].describe()

count    142.000000
mean     182.387324
std        9.139462
min      162.000000
25%      175.000000
50%      182.000000
75%      190.000000
max      213.000000
Name: Height, dtype: float64

__4. Find a sportsperson participated in the 2002 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?__

- Judo
- Bobsleigh 
- Weightlifting
- Boxing

In [45]:
# You code here 
data[data['Year'] == 2002].sort_values(by='Weight', ascending=False).head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
99154,50171,Emmanuel Hostache,M,26.0,190.0,123.0,France,FRA,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Two,NaN
129595,65246,Kevin Kuske,M,23.0,196.0,116.0,Germany-2,GER,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,Gold
270556,135315,Zsolt Zsombor,M,30.0,193.0,115.0,Hungary,HUN,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN
60488,30980,Dalibor uri,M,26.0,196.0,113.0,Serbia and Montenegro,SCG,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN
128125,64528,Pavel Kubina,M,24.0,196.0,113.0,Czech Republic,CZE,2002 Winter,2002,Winter,Salt Lake City,Ice Hockey,Ice Hockey Men's Ice Hockey,NaN

__5. How many times did Pawe Abratkiewicz participate in the Olympics held in different years?__

- 0
- 1 
- 2
- 3

In [47]:
# You code here 
data[data['Name'] == 'Pawe Abratkiewicz']['Year']

997     1992
998     1992
999     1998
1000    1998
1001    2002
1002    2002
Name: Year, dtype: int64

__6. How many silver medals in tennis did Australia win at the 2000 Olympics?__

- 0
- 1 
- 2 
- 3

In [50]:
# You code here 
data[(data['Team'] == 'Australia') & (data['Year'] == 2000) & (data['Medal'] == 'Silver') & (data['Sport'] == 'Tennis')]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
262820,131504,Todd Andrew Woodbridge,M,29.0,178.0,75.0,Australia,AUS,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Men's Doubles,Silver
262831,131511,Mark Raymond Woodforde,M,34.0,183.0,80.0,Australia,AUS,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Men's Doubles,Silver

__7. Is it true that Switzerland won fewer medals than Serbia at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__ 

- Yes 
- No

In [62]:
# You code here 
print(data[(data['Team'] == 'Switzerland') & (data['Year'] == 2016) & (data['Medal'] != 'NaN')]['Medal'].count())
print(data[(data['Team'] == 'Serbia') & (data['Year'] == 2016) & (data['Medal'] != 'NaN')]['Medal'].count())

11
54

__8. What age category did the fewest and the most participants of the 2014 Olympics belong to?__
- [45-55] and [25-35) correspondingly
- [45-55] and [15-25) correspondingly
- [35-45] and [25-35) correspondingly
- [45-55] and [35-45) correspondingly

In [87]:
# You code here 
print('[45-55]: ' + str(data[(data['Year'] == 2014) & (data['Age'] <= 55) & (data['Age'] >= 45)]['Name'].nunique()))
print('[25-35): ' + str(data[(data['Year'] == 2014) & (data['Age'] < 35) & (data['Age'] >= 25)]['Name'].nunique()))
print('[15-25): ' + str(data[(data['Year'] == 2014) & (data['Age'] < 25) & (data['Age'] >= 15)]['Name'].nunique()))
print('[35-45): ' + str(data[(data['Year'] == 2014) & (data['Age'] < 45) & (data['Age'] >= 35)]['Name'].nunique()))

[45-55]: 5
[25-35): 1397
[15-25): 1193
[35-45): 150

__9. Is it true that there were Summer Olympics held in Lake Placid? Is it true that there were Winter Olympics held in Sankt Moritz?__

- Yes, Yes
- Yes, No
- No, Yes 
- No, No

In [90]:
# You code here 
print(data[(data['Season'] == 'Summer') & (data['City'] == 'Lake Placid')].head())
print(data[(data['Season'] == 'Winter') & (data['City'] == 'Sankt Moritz')].head())

Empty DataFrame
Columns: [ID, Name, Sex, Age, Height, Weight, Team, NOC, Games, Year, Season, City, Sport, Event, Medal]
Index: []
        ID                               Name Sex   Age  Height  Weight  \
935    529    Karl Gustaf Emanuel Abrahamsson   M  31.0     NaN     NaN
1187   665              Gilbert Achard-Picard   M  29.0     NaN     NaN
1439   802             Tadeusz Ralf Adamowski   M  26.0   177.0    70.0
1454   810  Bridget Shirley Adams (-Bengough)   F  19.0     NaN     NaN
2707  1508                     Enrico Airoldi   M  24.0     NaN     NaN

               Team  NOC        Games  Year  Season          City  \
935          Sweden  SWE  1928 Winter  1928  Winter  Sankt Moritz
1187       France-2  FRA  1948 Winter  1948  Winter  Sankt Moritz
1439         Poland  POL  1928 Winter  1928  Winter  Sankt Moritz
1454  Great Britain  GBR  1948 Winter  1948  Winter  Sankt Moritz
2707        Italy-2  ITA  1948 Winter  1948  Winter  Sankt Moritz

               Sport                           Event   Medal
935       Ice Hockey     Ice Hockey Men's Ice Hockey  Silver
1187       Bobsleigh            Bobsleigh Men's Four     NaN
1439      Ice Hockey     Ice Hockey Men's Ice Hockey     NaN
1454  Figure Skating  Figure Skating Women's Singles     NaN
2707       Bobsleigh            Bobsleigh Men's Four     NaN

__10. What is the absolute difference between the number of unique sports at the 1995 Olympics and 2016 Olympics?__

- 16
- 24
- 26
- 34

In [102]:
# You code here 
data[data['Year'] == 1995]['Sport'].nunique()

0

In [101]:
data[data['Year'] == 2016]['Sport'].nunique()

34